@model List<Models.EF.Menu>
@{
    var listParentProductCategory = (List<Models.EF.ProductCategory>)ViewBag.parentMenu;
    var listProductCategory = (List<Models.EF.ProductCategory>)ViewBag.subMenu;
}
<section class="navbar main-menu">
    <div class="navbar-inner main-menu">
        <a href="/" class="logo pull-left"><img src="/assets/client/themes/images/logo.png" class="site_logo" alt=""></a>
        <nav id="menu" class="pull-right">
            <ul>
                @foreach (var parentItem in listParentProductCategory)
                {
                    <li>
                        <a href="/san-pham/@parentItem.MetaTitle-@parentItem.ID">@parentItem.Name</a>
                        <ul>
                            @foreach (var item in listProductCategory)
                            {
                                if (parentItem.ID == item.ParentID)
                                {
                                    <li><a href="/san-pham/@(item.MetaTitle + "-" + item.ID)">@item.Name</a></li>
                                }

                            }
                        </ul>

                    </li>
                }
                <li><a href="/san-pham/moi-nhat">Mới nhất</a></li>
                <li><a href="/san-pham/ban-chay">Bán chạy</a></li>
            </ul>
        </nav>
    </div>
</section>